@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:#0e0e0e ;
    font-family: 'Oswald', sans-serif;
    
}

.container{
    
    width: 1400px;
    max-width:100%;
    height: 100vh;
    margin: auto;
    background-color: #1b1a1a;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo{
    width: 150px;
    height: 100px;
    margin-left: 45px;
}



.nav li{
 list-style: none;
 display: inline-block;
 padding: 20px;

}

.nav a {
    color: #FFF;
    font-size: 25px;
    font-weight: 100;
}


.col2{
    display: flex;
    padding: 20px 20px;
}

.des{
    width: 50%;
  
}

.des h1{
    font-size: 50px;
    font-weight: none;
    margin: 10px 20px;
    color: #FFF;
}

.des p{
    margin: 10px 20px;
    font-size: 25px;
    color: #FFF;
}
.des .p1{
    margin: 20px 20px;
    font-size: 25px;
   
}

.des a{
    color: palevioletred;
}

.follow{
    
    width: 50%;
    height: 400px;
    background-color: #464b46;
    border-radius: 15px;
}

.div{
  display: inline-block;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  width: 95%;
  margin: 20px ;
  height: 350px;
  border-radius: 15px;
}

.div img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
}

input{
    width: 40%;
    height: 40px;
    margin: 15px;
    border: none;
    background-color: #5f665f;
    text-decoration: underline;

}

::-webkit-input-placeholder{
    color:#FFF;
    
}

button{
    margin: 25px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: #5f665f;
    color: #FFF;
    transition: 2s;
    cursor: pointer;
}
button:hover{
    transform: scale(.8);
}

@media(min-width:1030px){
    .container{
        background-color: #1b1a1a;
    }
}


@media only screen and  (max-width:1030px) and (min-width:780px) {
    .container{
    
        width: 1400px;
        max-width:100%;
        height: 100vh;
        margin: auto;
        background-color: #633939;
    }
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }
    
    .logo{
        width: 150px;
        height: 100px;
        margin-left: 45px;
    }
    
    
    
    .nav li{
     list-style: none;
     display: inline-block;
     padding: 20px;
    
    }
    
    .nav a {
        color: #FFF;
        font-size: 25px;
        font-weight: 100;
    }
    
    
    .col2{
        display: flex;
        padding: 20px 20px;
        
    
    }
    
    .des{
        width: 50%;
      
       
    }
    
    .des h1{
        font-size: 50px;
        font-weight: none;
        margin: 10px 20px;
        color: #FFF;
    }
    
    .des p{
        margin: 10px 20px;
        font-size: 25px;
        color: #FFF;
    }
    .des .p1{
        margin: 20px 20px;
        font-size: 25px;
       
    }
    
    .des a{
        color: palevioletred;
    }
    
    .follow{
        
        width: 50%;
        height: 400px;
        background-color: #464b46;
        border-radius: 15px;
    }
    
    .div{
      display: inline-block;
      align-items: center;
      text-align: center;
      border: 1px solid white;
      width: 95%;
      margin: 20px ;
      height: 350px;
      border-radius: 15px;
    }
    
    .div img{
        width: 90px;
        height: 90px;
        margin-top: 20px;
    }
    
    input{
        width: 40%;
        height: 40px;
        margin: 15px;
        border: none;
        background-color: #5f665f;
        text-decoration: underline;
    
    }
    
    ::-webkit-input-placeholder{
        color:#FFF;
        
    }
    
    button{
        margin: 25px;
        padding: 20px;
        border-radius: 30px;
        border: none;
        background-color: #5f665f;
        color: #FFF;
        transition: 2s;
        cursor: pointer;
    }
    button:hover{
        transform: scale(.8);
    }
    
}

@media (max-width: 780px) and (min-width: 565px){

    .container{
        width: 780px;
        max-width:100%;
        height: 100vh;
        margin: auto;
        background-color: rgb(197, 38, 38);
    }

    header{
        display:flex;
        padding: 25px 0;}

        .logo{
            width: 100px;
            height: 100px;
            margin-left: 25px;
        }
        .nav li{
            list-style: none;
            display: inline-block;
            padding: 5px;
            margin-left: 25px;
           }

         .nav a {
            color: #FFF;
            font-size: 17px;
            font-weight: 100;
        }   
        .col2{
            display: flex;
            padding: 10px 10px;
        }
        .des{
            width: 50%;
            height: 300px;
        }
        .des h1{
            font-size: 30px;
            font-weight: none;
            margin: 5px 10px;
            color: #FFF;
        }
        .des p{
            margin: 5px 10px;
            font-size: 18px;
            color: #FFF;
        }
        .des .p1{
            margin: 10px 10px;
            font-size: 17px;
        }
        .des a{
            color: rgb(8, 8, 8);
        }
        .follow{
            width: 50%;
            height: 300px;
            background-color: #151815;
            border-radius: 15px;
        }
        
        .div{
            display: inline-block;
            align-items: center;
            text-align: center;
            border: 1px solid white;
            width: 92%;
            margin: 10px ;
            height: 280px;
            border-radius: 15px;
          }
          .div img{
            width: 50px;
            height: 50px;
            margin-top: 10px;
        }
        input{
            width: 40%;
            height: 30px;
            margin: 10px;
            border: none;
            background-color: #5f665f;
            text-decoration: underline;
            border-radius: 30px;
        
        }
        ::-webkit-input-placeholder{
            color:#FFF;
            
        }
        button{
            margin: 20px;
            padding: 10px;
            border-radius: 30px;
            border: none;
            background-color: #5f665f;
            color: #FFF;
            transition: 2s;
            cursor: pointer;
        }
        button:hover{
            transform: scale(.8);
        }
        


}